.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%
}

.mdl-layout__drawer{
    background-color: yellow;
    color: black;
}

.imagefundo{
    opacity: 0.5;
    max-width: 100%;
    max-height:50%;
    background-color: black; 
    background-repeat: no-repeat; 
    background-position: center -130%
}

.formato{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 15%;
    margin-left: 15%;
}

.img{
    height: 700px;
    width: 700px;
}

.formato2{
    text-align: left;
    color: white;
    font-family: monospace;
    margin-left: 5%;
    margin-right: 5%;
}

.formato_imgs{
    width: 250px;
    height: 250px;
}

.imgdesenvolv{
    float: right;
    width: 250px;
    height: 250px;
}

.txtdesen{
    float: right;
}

.img_formato_3{
    float: right;
    margin-top: 210px;
    margin-right: 50px;
}

.img_formato_4{
    margin-top: 210px;
    margin-left: 70px;
}
/* CSS Document */
body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:1300px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:350px;
    width:1220px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:850px;
    border:1px solid #ACD8F0; }

#username{
    width:400px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

